body {
    background-color: white;
}

#imghome {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

#index {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

#idh3 {
    text-align: center;
    color: white;
}

#idh4 {
    text-align: center;
    color: white;
}


/*#container2 {
    color: #f36523;
}*/

#estilofooter {
    background-color: #fcb913;
    color: white;
}


/*BOTONES CENTRALES INDEX*/

.btn-lg,
.btn-group-lg>.btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    color: white;
    background: #fca213;
}

/*Inicio Pagina Crear Cuento*/

.crearCuento {
    background-color: #ffe001;
}

/*slide crear cuento*/

.item{ 
    width: 100%;
    height: 500px;
    background-color: white;}

.myCarousel img{ width: 100px;
    height: 100px;
    }

.nav-dots {
    margin-top: 20px;
	width: 100%;
	
	height: 120px;
	
	text-align: center;
}

.hojas{
    width: 100px;
    height: 100px;
    background-color: white;
}

.nav-dot {
	/*estilo para label*/
	margin: 4px 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: orange;
}

.hojas:hover {
	cursor: pointer;
	opacity: 0;
}
.nHoja{margin-top: 20px;}
.nHoja img{width: 100px;height: 100px;}
/*fin slide crear cuento*/

/*Crear Cuento Funciones*/


.nombreCuento{ text-align: center}

.nombreCuento input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    text-align: center;
}


/*Fin slide Funciones*/

/*Fin Pagina Crear Cuento*/

